$lora-font: 'Lora', serif;
$lato-font: 'Lato', sans-serif;
$Logo_color: #fcad60;
$footer_logo: #fdb060;
$heading_color: #252f52;
$app_head_color: #f35765;
$app_head1_color: #2463ff;
$app_head2_color: #42975e;
$circle_color: #ffecee;
$circle1_color: #f4f4ff;
$circle2_color: #e4ffee;
$award_circle_color: #eaf9ff;
$cloud_circle_color: #fff7d3;
$customer_circle_color: #fceee5;

